<%- include("partials/header.ejs") %>

    <h1>Home</h1>
    <p>
        <%= homeText %>
    </p>

    <% postContent.forEach(post=> { %>
        <% console.log(post.title) %>
            <% }) %>




                <%- include("partials/footer.ejs") %>